
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Container{
    border: 1px solid blue;
    padding: 10px;
    display: flex;
    width: 55%;
}

main{
    width: 100%;
    border: 1px solid red;
    padding: 10px;
}

article{
    border: 1px solid pink;
    /* padding: 10px; */
    width: auto;
}

.ImgArticle{
    height: auto;
    width: 100%;
}


div > img{
    height: auto;
    width: 100%;
}

h2{
 border: 1px solid yellowgreen;
    padding: 5px;
    margin: 10px 10px;
}

p{
    border: 1px solid yellowgreen;
    padding: 5px;
    margin: 10px 10px;
}

aside{
    padding: 10px;
    /* display: flex; */
    justify-content: space-evenly;
    border: 1px solid green;
    width: 30%;
}



.menu{
    background-color: aqua;
    list-style: none;
    position: relative;
}


.menu ul{
    /* background-color: gold; */
    list-style: none;
}